html {
    font-size: 16px; /* 1rem - root em*/
    font-family: 'Outfit', sans-serif;
}
body {
    color: #333;
    line-height: 1;
    background-color: rgba(230, 230, 230, 0.226);
    /* background:
    url("./pattern2.jpg") top right/160px repeat-y,
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAEFJREFUKFNjFL3I8p+BCMBIssLX+n/A5opeZAHT6Hy4iUQrhDkTXQNMHMWNMEUwSZgzQHzyFSJ7BqeJ+IKT6HAEAASDLiUtcahCAAAAAElFTkSuQmCC) top left/60px repeat,
    linear-gradient(90deg, rgba(0,29,8,1) 0%, rgba(0,171,163,1) 100%); */
    
}
.p {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    background-color: lightyellow;
}
.h6 {
    font-size: 1.33rem;
    font-weight: 700;
    color: rgb(97, 97, 97);
}
.h5 {
    font-size: 1.66rem;
}
.h4 {
    font-size: 2rem;
    font-weight: 500;
}
.h3 {
    font-size: 2.33rem;
}
.h2 {
    font-size: 2.66rem;
}
.h1 {
    font-size: 3rem;
}
.text-align-left {
    text-align: left;
}
.text-align-right {
    text-align: right;
}
.text-align-center {
    text-align: center;
}
.text-align-justify {
    text-align: justify;
}
.link {
    text-decoration: none;
}
.fancy {
    text-shadow: 0px 2px 0px rgb(255, 0, 0),
    2px 0px 0px rgb(0, 255, 0),
    -2px 0px 0px rgb(0, 0, 255),
    0px -2px 0px rgb(251, 255, 0);
}
.highlight {
    background-color: rgba(52, 141, 79, 0.445);
    line-height: 1.5;
}
.wrapper {
    max-width: 1024px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* margin: top right bottom left; */
    /* margin: 0 auto; */
    padding-left: 16px;
    padding-right: 16px;
    /* padding: 0 16px; */
    box-sizing: border-box;
}
.cookies {
    position: fixed;
    bottom: 5px;
    left: 0;
    right: 0;
    text-align: center;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    background-color: #114B5F;
    padding: 10px 0;
    display: inline-block;
    border-radius: 15px;
    color: white;
}    
.button-yes .button-no {
    border: none;
    background: none;
    text-decoration: underline;
}
.button-yes:hover {
    font-weight: bold;
}
.button-no:hover {
    font-weight: bold;
}
.profile-image {
    display: block;
    width: 150px;
    border-radius: 15px;
    border-width: 5px;
    border-style: solid; 
    border-color: #114B5F;
    /* transform: rotate(90deg); */
}
.project {
    background: white;
    padding: 16px;
    border-radius: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: #114B5F;
}
.project_title {
    margin-bottom: 8px;
}   
.project_description {
    margin-bottom: 16px 0;
}
.project_link {
    position: relative;
    display: inline-block;
    background-color: #114B5F;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    padding: 12px 16px;
    border-radius: 15px;
    margin-top: 8px;
}
.project_link:hover {
    text-decoration: underline;
    transform: scale(1.1);
    transition: 0.5s linear;
}
.project_list {
    margin: 0;
    padding: 0;
}
.project_list li {
    display: inline-block;
    background-color: #86BBD8;
    padding: 4px 8px;
    color: white;
    border-radius: 15px;
    margin-right: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 0.8rem;
}
.project_list li+li:last-child {
    margin-right: 0px;
}
.project_list li:hover {
    text-decoration: underline;
}
.tooltip {
    position: relative;
}
.tooltip_message {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 8px 12px;
    font-size: 0.8rem;
    line-height: 1.5;
    width: 100%;
    border-radius: 15px;
}
.tooltip:hover .tooltip_message {
    display: inline-block
}
.float_row {
    margin: 0 -16px;
}
.float_column {
    float: left;
    width: calc(50% - 32px);
    margin: 0 16px;
}
.navigation {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.navigation_item {
    display: block;
    background: black;
    padding: 8px 16px;
}
.navigation_item a {
    color: white;
}
.palette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.palette-item {
    display: block;
    width: calc(20% - 8px);
    border: none;
    margin: 4px;
    border-radius: 15px;
    position: relative;
}
.bg-color-primary {
    background-color: #114B5F;
}
.bg-color-secondary {
    background-color: #86BBD8;
}
.bg-color-text {

}
.bg-color-background {

}
.bg-patter {

}
.palette-item::before {
    content: "";
    display: block;
    padding-top: 100%;
}
.palette-item-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
}
.header-image {
    flex-grow: 0;
    flex-shrink: 0;
}
.header-description {
    flex-grow: 1;
    padding-left: 32px;
}
@keyframes blink {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}
@keyframes jumping {
    0% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(-30px);
    }
}
.blinking {
    animation: blink 3s ease-in-out 0s alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.animation {
    animation: jumping 3s infinite alternate forwards;
}